@use "../variables" as *;
@use "../breakpoints" as *;
@use "../mixins" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: 52%;
  //   width: 48%;
  //   height: 480px;
  //   background-image: url("../assets/images/decor_top.png");
  //   background-size: 100% 100%;
  //   background-repeat: no-repeat;
  //   background-position: 100% 0;

  //   @include screen-media-max($hdScreenWidth) {
  //     right: 56%;
  //   }

  //   @include screen-media-max($tabletScreenWidth) {
  //     right: 60%;
  //   }
  // }

  &__inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 6vw;
    padding: 6px 10px 30px;
    background-color: rgba($color-global-bg, 0.67);
    box-shadow:
      0 4px 24px 0 rgba(0, 0, 0, 0.12),
      inset 0 12px 24px 0 rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(10px);

    @include screen-media-max($tabletScreenWidth) {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 6px 10px 10px;
    }
  }

  &__content {
    padding-top: 26px;

    @include screen-media-max($tabletScreenWidth) {
      padding-top: 0;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 14px;
  }

  &__title {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.01em;
    font-family: $accent-font-family;
    text-transform: lowercase;
  }

  &__badge {
    flex-shrink: 0;
    padding: 6px 12px;
    border: 1px solid $color-accent;
    color: $color-accent;
    font-size: 13px;
    letter-spacing: -0.03em;
    border-radius: 2px;
  }
}

.logo {
  flex-shrink: 0;
  width: 138px;
  min-width: 80px;
  height: 138px;
  overflow: hidden;
  flex-shrink: 1;

  &--mob {
    display: none;
    width: 60px;
    height: 60px;
  }

  @include screen-media-max($tabletScreenWidth) {
    &--mob {
      display: block;
    }

    &--desk {
      display: none;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
  }
}

.statistic {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-bottom: 18px;

  @include screen-media-max($tabletScreenWidth) {
    justify-content: center;
    gap: 10px;
  }

  &__item {
    font-size: 14px;
    font-weight: 400;
  }
}
