@use "./variables" as *;
@use "./mixins" as *;
@use "./breakpoints" as *;

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    right: 52%;
    width: 48%;
    height: 400px;
    background-image: url("../assets/images/decor_top.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 100% 0;

    @include screen-media-max($hdScreenWidth) {
      right: 56%;
    }

    @include screen-media-max($tabletScreenWidth) {
      right: 60%;
    }
  }

  &::after {
    content: "";
    position: fixed;
    top: 50vh;
    right: 0;
    width: 210px;
    height: 367px;
    background-image: url("../assets/images/decor_bottom.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 100% 0;
  }
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: transparent;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-top: var(--header-height);
  z-index: 2;
}

.load-button {
  --color: #929292;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 8px 26px;
  color: var(--color);
  font-size: 11px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  border: 1px solid var(--color);
  border-radius: 20px;
  box-shadow: inset 0 0 6px transparent;
  pointer-events: none;
  transition: box-shadow 0.2s linear;

  &._active {
    pointer-events: auto;
    --color: #3d8eda;
  }

  @include hover {
    box-shadow: inset 0 0 6px $color-accent;
  }
}
